################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/MechBuilder/v15/Server/sqlite3
/src/MechBuilder/obj/Debug
